
.attribution { 
  font-size: 11px; 
  text-align: center;
}
    
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
    
img {
  height: 200px; 
  width: auto;
  border-radius: 15px;
}
    
.message {
  display: flex; 
  flex-direction: column;
  width: 250px;
  height: auto;
  padding: 20px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  align-items: center;
}

body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-line {
    font-weight: bolder;
    display: flex;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: sans-serif;
}

.second-line{
    display: flex;
    text-align: center;
    padding-bottom: 15px;
    font-size: 15px;
    color: gray;
}